.prancheta {
	max-width: 708px;
	height: auto;
}

.image-projeto {
	width:100%;
}

.woocommerce table.cart td.actions .input-text {
	width: 160px;
}

.woocommerce-shipping-calculator {
	display: block;
	margin-top: 0;
}